@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,700&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

body{
    background-color: black;
    align-items: center;
    padding: 30px;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo_wrapper{
    background-image: url("./src/supramax_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50vw;
    height: 30vh;
    margin-bottom: 40px;
}

li{
    margin: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(max-width: 800px){
    li{
        width: 70vw;
    }

    .logo_wrapper{
        width: 80vw;
        height: 32vw;
    }
   }

li a, .localizacao{
    width: 100%;
    padding: 20px;
    background-color: #ff6600;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.localizacao{
    
    flex-direction: column;
}

.localizacao span{
    margin-bottom: 10px;
}

iframe{
    border-radius: 15px;
}

.logo{
margin-right: 10px;
background-size: contain;
background-repeat: no-repeat;
width: 40px;
height: 40px;
}

.logo_whatsapp{
    background-image: url("./src/whatsapp_logo.svg");

}
.logo_instagram{
    background-image: url("./src/instagram_logo.svg");
}

.logo_telefone{
    background-image: url("./src/phone_logo.svg");
}

.localizacao .title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon_localizacao{
    background-image: url("./src/map.png");
    background-color: white;
    border-radius: 5px;
    border-color: white;
    border: 5px solid;
}